body {
    font-family: "Helvetica Neue";
    /* font-family: "Verdana"; */
}

.event-name {
    font-weight: bold;
    font-size: x-large;
}

.event-details {
    font-size: small;
}

.logo {
    background: no-repeat url("{{{logoDataUri}}}");
    background-size: contain;
    background-position: right;

    height: 75px;
    width: 75px;
}

/* Styling tables:
 * https://www.elated.com/articles/styling-tables-with-css/
 */
.results {
    margin-top: 1em;
    border-collapse: collapse;
}

tbody tr:nth-child(even){
    /* background-color: #4C8BF5; */
    /* color: #fff; */
    background-color: #eee;
}

.results td, .results th {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;

    padding-left: 0.3em;
    padding-right: 0.3em;
}

.results tr:hover {
    /* hsl(60, 0.95, 0.85) */
    background: #fdfdb4;
}

.summary {
    text-align: left;
}

.results th {
    background-color: #ccc;
}

.best, .finalTime {
    font-weight: bold;
}

.trophy, .number, .driver, .time {
    border-right-style: none !important;
}

.rank, .driver, .vehicle, .time {
    border-left-style: none !important;
}
